<header class="header">
    <div class="container-first">
      <h1 class="rosis">Rosismo</h1>
      <nav clas="menu">
      <ul class="menu--list">
        <li class="link"><a href="#">Equipo</a></li>
        <li class="link"><a href="#">Quiénes somos</a></li>
        <li class="link"><a href="../contact.html" target="_blank">Contacto</a></li>
      </ul>
    </nav>
    </div>
    <div class="container-second">
      <p>
        <h2 class="title-header">Un lema</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
        porro ab dolorum non vel molestias odio harum aperiam mollitia
        excepturi cum temporibus fugit eius natus adipisci deleniti nulla,
        itaque tempore!
      </p>
    </div>
  </header>