<main class="main">
  <section class="features">
    <article class="features-article__one">
      <h2>EQUIPO</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae
        voluptates eum culpa animi rem inventore eos velit quae non. In rerum
        nihil expedita corporis molestias. Ad nulla laudantium eius debitis!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius tempore
        vel laborum iste ratione molestiae illo tempora a magni voluptatum, ipsa
        ex repellendus similique nam culpa? Architecto sunt nihil vel?
      </p>
      <img src= ./assets/images/Casa_Tapeo.jpg title="familia" alt="primos"
      class="familia">
    </article>

    <article class="features-article__two">
      <h2>Fortalezas</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed unde
        assumenda sint obcaecati earum. Quia non tempora similique minima
        asperiores amet veniam! Voluptatibus commodi nam, tempora labore
        accusamus illum dolores.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde modi
        accusantium eos magnam provident? Dolore numquam, sed omnis odit quo
        mollitia quis provident, rerum laboriosam praesentium nobis asperiores
        labore perferendis.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur cum
        doloribus vero cumque consequatur dicta sunt vel ea dignissimos ab,
        maiores tempora! Magnam modi nulla inventore nisi. Laudantium, sapiente
        ea.
      </p>
    </article>
    <article class="features-article__three">
      <h2>Debilidades</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam
        tenetur, voluptatibus, veniam delectus omnis nulla quidem, tempore
        blanditiis nobis suscipit incidunt. Pariatur eos optio culpa dolores
        quia voluptate, non ullam!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis suscipit
        nesciunt at fuga modi sunt earum assumenda, consequuntur esse. Laborum
        voluptatum placeat molestiae tenetur! Aspernatur ex quibusdam deserunt
        laudantium eligendi?
      </p>
      <!--social media links-->
      <div class="rrss-icons">
        <div class="icon"><a href="https://twitter.com/?lang=en" target="_BLANK"><i
                    class="fab fa-twitter"></i></a></div>·
        <div class="icon">
            <a href="">
                <a href="https://www.linkedin.com/login" target="_BLANK">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </a>
        </div>
    </article>
  </section>
</main>
