body {
  background-color: lightgreen;
}
.formulario {
  background-color: khaki;
}

.caja {
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: green;
}
legend {
  color: green;
  text-transform: uppercase;
}
.fantasy {
  padding-bottom: 10px;
}
